{% extends "base.html" %}
{% block title %}Home — Shristi Gupta{% endblock %}
{% block content %}
<header class="hero">
  <h1>Hi, I' am akash maurya </h1>
  <p class="lead">Student • Python & Web Developer</p>
  <p>I Hey ! I am web developer </p>
</header>

<section class="about card">
  <h2>About Me</h2>
  <p>I thinking to start freelancing you can contact me  </p>
</section>

<section class="projects card">
  <h2>Quick Projects</h2>
  <ul>
    <li>Calculator (Python)</li>
    <li>Student Management System (MySQL)</li>
    <li>Portfolio Website (Flask)</li>
  </ul>
</section>
{% endblock %}
