{% extends "base.html" %}
{% block title %}Home — Shristi Gupta{% endblock %}
{% block content %}
<header class="hero">
  <h1>Hi, I' am Vandana Yadav</h1>
  <p class="lead">Student • Python & Web Developer</p>
  <p>I am done the ADCA and CCC also I have M.com .</p>
</header>

<section class="about card">
  <h2>About Me</h2>
  <p>I belong from kusinagar aslo I have a good typing spped that no can match </p>
</section>

<section class="projects card">
  <h2>Quick Projects</h2>
  <ul>
    <li>Calculator (Python)</li>
    <li>Student Management System (MySQL)</li>
    <li>Portfolio Website (Flask)</li>
  </ul>
</section>
{% endblock %}
